bin
obj
Build
Binaries
DerivedDataCache
Intermediate
Saved
KiteDemo
StarterContent
InfinityBladeEffects
ipch
PACKAGED
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
enc_temp_folder/
